@font-face{font-family:'DM Sans';font-style:normal;font-weight:100 1000;font-display:swap;src:url('dmsans-normal.ttf') format('truetype')}
@font-face{font-family:'Fraunces';font-style:normal;font-weight:100 900;font-display:swap;src:url('fraunces-normal.ttf') format('truetype')}
@font-face{font-family:'Fraunces';font-style:italic;font-weight:100 900;font-display:swap;src:url('fraunces-italic.ttf') format('truetype')}

@font-face{font-family:'Nunito';font-style:normal;font-weight:200 1000;font-display:swap;src:url('nunito-normal.ttf') format('truetype')}
